<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="2.0.0">
  <clientModule initializer="advanced-cms-grouping-header.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="advanced-cms-grouping-header" path="Scripts" />
    </paths>
  </dojo>

  <assemblies>
    <add assembly="Advanced.CMS.GroupingHeader" />
  </assemblies>
</module>